<main class="mdl-layout__content">
    <div class="page-content">
        <div class="wrapper mdl-grid">
            <ss-app-welcome-card></ss-app-welcome-card>
            <ss-app-search-input-card (submitCallback)="performSearchQuery($event)">
                <ss-app-search-result-table *ngIf="searchResults"
                                            [resultData]="searchResults"></ss-app-search-result-table>
            </ss-app-search-input-card>
            <!--TODO *bonus* insert a 'no results found' element here!-->
            <div class="no-results" [innerHtml]="noResults"></div>
            <!--TODO *bonus* insert an 'search error ' element here!-->
            <div class="search-error" [innerHtml]="searchError"></div>
        </div>
    </div>
</main>